.layout {
  margin: 0 auto;
  max-width: 1000px;

  display: grid;
  grid-template-columns: 300px 1fr;
}

.content {
  border-left: 1px solid #ebeef0;
  border-right: 1px solid #ebeef0;
}


/*separador*/
.separator {
  background: #f7f9fa;
  border-top: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
  height: 0.75rem;
}
