* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
}

body {
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem Roboto, sans-serif;

  /*
  1rem => 16px
  0.25rem => 4px
  2rem => 32px
  */
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

